.social-circles-bar {
	width: 100%;
	text-align: center;
	display: inline-block;
}

.social-circle {
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 0.7em;
}

.icon,
.icon-small {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 20px 35px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #2883BF;
}

.icon-small {
	width: 70px !important;
	height: 70px;
}

.icon:after,
.icon-small:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.icon:before,
.icon-small:before {
	speak: none;
	font-size: 48px;
	line-height: 120px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.icon-small:before {
	font-size:30px;
	line-height: 70px;
}

@media screen and (max-width: 30em) {
	.icon,
	.icon-small {
		margin: 15px 25px;
		width: 90px;
		height: 90px;
	}

	.icon-small {
		width: 50px;
		height: 50px;
	}

	.icon:before,
	.icon-small:before {
		font-size: 48px;
		line-height: 90px;
	}

	.icon-small:before {
		font-size: 30px;
		line-height: 50px;
	}
}



/* Effect 9 */
.icon,
.icon-small {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.icon:after,
.icon-small:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0px 0 0 3px #2883BF;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.icon-small:after {
	box-shadow: 0px 0 0 3px #2883BF;
}

.icon:hover:after,
.icon-small:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	opacity: 0.5;
}

.icon:hover,
.icon-small:hover {
	box-shadow: 0 0 0 10px rgba(40, 131, 191, 1);
	color: #2883BF;
}

.icon-small:hover {
	box-shadow: 0 0 0 5px rgba(40, 131, 191, 1);
}


/* facebook specific color*/
.facebook-blue .icon {
	color: #3B5998;
}

.facebook-blue .icon:hover {
	box-shadow: 0 0 0 10px rgba(59, 89, 152, 1);
	color: #3B5998;	
}

.facebook-blue .icon:after {
	box-shadow: 0px 0 0 3px #3B5998;
}

/* linkedin specific color */


/* other colors */
.green .icon {
	color: #20B50D;
}
.green .icon:hover {
	box-shadow: 0 0 0 10px rgba(32, 181, 13, 1);
	color: #20B50D;	
}
.green .icon:after {
	box-shadow: 0px 0 0 3px #20B50D;
}

.purple .icon {
	color: #9C0DB5;
}
.purple .icon:hover {
	box-shadow: 0 0 0 10px rgba(156, 13, 181, 1);
	color: #9C0DB5;	
}
.purple .icon:after {
	box-shadow: 0px 0 0 3px #9C0DB5;
}

.red .icon {
	color: #DB0404;
}
.red .icon:hover {
	box-shadow: 0 0 0 10px rgba(219, 4, 4, 1);
	color: #DB0404;	
}
.red .icon:after {
	box-shadow: 0px 0 0 3px #DB0404;
}

