
.idc-text {
	color: #a13253;
}
.idc-background {
	background-color: #a13253;
}

.bluecoat-text {
	color: #0078c9;
}
.bluecoat-background {
	background-color: #0078c9;
}

.hootsuite-text {
	color: #000;
}
.hootsuite-background {
	background-color: #000;
}