@import url('https://fonts.googleapis.com/css?family=Cairo:weight@400;700&display=swap');

* {
  box-sizing: border-box;
}

$font: 'Karla', sans-serif;
$font-size-body: 1em;
$primary-color: #f1eee4;
$background-color: #01202c;

html,
body {
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: $font;
  color: $primary-color;
  background-color: $background-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 10em;
}
